<header class="main-header">
    <div class="main-header_item">
        <a href="/bell_beat" class="<%= path === '/new_bell_beat' ? 'active' : '' %>">Ring bell</a>
    </div>
    <div class="main-header_item">
        <a href="/bell_beats" class="<%= path === '/bell_beats' ? 'active' : '' %>">Beats</a>
    </div>
    <% if (isAuth) { %>
        <div class="main-header_item">
            <a href="/new_reason" class="<%= path === '/new_reason' ? 'active' : '' %>">Register Reason</a>
        </div>
        <div class="main-header_item">
            <a href="/list_reasons" class="<%= path === '/reasons' ? 'active' : '' %>">Reasons</a>
        </div>
        <div class="main-header_item one_end_item">
            <a href="/signout"s class="<%= path === '/signout' ? 'active' : '' %>">Signout</a>
        </div>
    <% } else { %>
        <div class="two_end_item">
            <div class="main-header_item">
                <a href="/login"s class="<%= path === '/login' ? 'active' : '' %>">Login</a>
            </div>
            <div class="main-header_item">
                <a href="/signup"s class="<%= path === '/signup' ? 'active' : '' %>">SignUp</a>
            </div>
        </div>
    <% } %>
</header>