<header class="main-header">
    <div class="main-header_item">
        <a href="/bell_beat" class="<%= path === '/bater_sino' ? 'active' : '' %>">Ring bell</a>
    </div>
    <div class="main-header_item">
        <a href="/bell_beats" class="<%= path === '/batidas' ? 'active' : '' %>">Beats</a>
    </div>
    <div class="main-header_item">
        <a href="/new_reason" class="<%= path === '/cadastrar_motivo' ? 'active' : '' %>">Register Reason</a>
    </div>
    <div class="main-header_item">
        <a href="/list_reasons" class="<%= path === '/motivos' ? 'active' : '' %>">Reasons</a>
    </div>
    <div class="main-header_item">
        <a href="/login"s class="<%= path === '/login' ? 'active' : '' %>">Login</a>
    </div>
</header>